.container {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  transition: all 250ms ease;
  background-color: #efefef;
}

.name {
  display: block;
  height: 1rem;
  width: 8rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.meta {
  margin-top: 0.5rem;
  display: block;
  height: 0.5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}
