.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header > h1 {
  flex: 1;
}

.projects {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}
